.fa-vk:hover
{
    color: #0077ff;
}
.fa-telegram-plane:hover{
    color: #259cd8;
}
.fa-steam:hover
{
    color:#233967;
}
.fa-github:hover
{
    color:#383838;
}
.fa-envelope:hover
{
    color:#f2a800;
}
.fa-spotify:hover
{
    color: #1ed860;
}