.socials {
    color: rgb(145, 145, 145);
    opacity: 0.5;
    transition: 0.3s;
    width:65px;
}
.socials:hover {
    opacity: 1;
    color: white;
    transform: scale(1.4);
}
.center {
    position: absolute;
    display: flex;
    width: 99%;
    top: 45%;
    justify-content: center;
    text-align: center;
    
}
body{
    background-color: rgb(17,17,17);
}